/* reset */
*{margin:0;
padding:0;
box-sizing:border-box;    
}

:root{
    
}



html{
    font-size: 100%;
    font-family: 'PT Sans', sans-serif;
}


/* common */
.container{
    width:100%;
    padding:0 1rem;

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:inherit;
}

p{
    line-height: 1.7;
}
.flex{
    display:flex;
    
}
.vertical{
    align-items: center;
}

.col{
    border-radius: 20px;
}
.mb{
    margin-bottom:1.5rem;
}

.color{
    color:#0084fd;
}
.color-p{
    color:#9593E6;
}

.white{
    color:white;
}

.btn{
    padding:0.5rem 4rem;
    border-radius:20px;
}


main img{
    max-width:100%;
}




header{
    height:80px;
    background-color: #0084fd;
    color:white;
   
}

header .container{
    justify-content:space-between;
     
}
.hb-menu {
    font-size:1.5rem;
}

.sidebar{
    display:none;
}
.sidebar li{
    margin-left: 1.5rem;
}
/* fine header */
/* inizio main */

/* section about */
.sidebar li a.btn {
    background-color: white;
    color:black;
    padding:0.5rem 1rem;
}



.wrapper .col{
    min-height:300px;
    background-color: #b5ddff;
}
 .container{
    padding:2.5rem 2rem;
}

.col .card-text{
    min-height:100px;/*debug*/
    /*background-color: green;*/
    padding:2rem 1rem;
}

.col .card-text .btn{
    background-color: #0084fd;
    color:white;
}
.card-image img{
    width:50%;
    display:block;
}
.card-image {
    display:flex;
    justify-content: center;
}




.wrapper .col{
    
    padding:2rem 2rem;
}

.wrapper .col.first{
    padding:1rem 2rem 0;
}


.wrapper .col:not( .first){
    text-align: center;
}

.wrapper .icon{
    font-size:5rem;

}

.wrapper .col:not( .first) h3{
   
    font-size: 1.7rem;
    font-weight: bolder;
}


.col .card-image{
    /*height:150px;*/
    /*background-color: red;*/
}
/* fine sezione about */

/* inizio sezione strategic */



#strategic {
    background-color: #9593E6;
}
#strategic .col:first-child{
    min-height:300px;
    /*background-color: aqua;*/
    border-radius:0px;
    color:white;
}
#strategic .col:first-child h3{
    font-size:2rem;
    margin-bottom:1em;
}



#strategic .developer{
    min-height:300px;
    background-color: white;
    border:1px solid black;
    text-align:center;
}

#strategic .developer h3{
    font-size:1.75rem;
    font-weight:bolder;
}

#strategic .developer p {
    font-style:oblique;
    font-size:1.4rem;
    padding: 0 1.5rem;
}



#strategic .developer a {
    font-size: 1.5rem;
    display:inline-block;
    width:2rem;
    height:2rem;
    border-radius:50%;
    background-color: #9593E6;

}



/* fine sezione strategic */

/* inizio sezione testimonials */



#testimonials .intestazione{
    text-align: center;
}
#testimonials .intestazione h3{
    text-transform: uppercase;
    font-weight: 100;
}
 .intestazione .main-title{
    font-size: 2.5rem;
    font-weight: bold;
}

#testimonials .column{
    padding:1.5rem 2rem 0;
}



#testimonials .column-image{
    border-radius:50%;
   
    width:60%;
    margin:0 auto;
    height:44vw;
   
    background-size: cover;
    background-position: center;
} 

.column-image.first{
    background-image: url(../img/testimonial1.jpg);

}
.column-image.second{
    background-image: url(../img/testimonial2.jpg);
}

.column-image.third {
    background-image: url(../img/testimonial3.jpg);
}

#testimonials .column-image img{
    border-radius:50%;
}

#testimonials .column-text {
    color:white;
    padding:.75rem;
    text-align:center;
    font-size:1.2rem
}
#testimonials .column-text p:nth-of-type(2){
    text-transform: uppercase;
    font-weight: bolder;
}



#testimonials .intestazione p:last-child{
    font-size:1.2rem;
    padding:0 2rem
}



#testimonials .intestazione, #testimonials .column{
    /*min-height:300px;debug*/
    border-radius:20px;


}






#testimonials .column{
    background-color: #9593E6;
}
.column-image{
    min-height:100px;
    /*background-color: red; debug*/
}
.column-text{
    min-height:200px;
    /*background-color: blue;*/
}
/* inizio sezione quality*/

#quality {
    background-color: #9593E6;
}

#quality h2{
    color:white;
    text-align: center;
    font-size:2.5rem;
}


#quality .card{
    min-height:250px;
    /*background-color:red;*/
    border-radius:20px;
    padding:2.5rem;
    background-color: white;
}
#quality .card h3 {
    font-size:2.5rem;
}
#quality .card p:nth-of-type(1){
    font-size:1.5rem;
    font-weight:bold;
}
#quality .card a{
    background-color: #9593E6;
    color:white;
    font-weight:bold;
}

/* fine sezione quality*/

/* sezione chi-siamo*/
#chi-siamo .col-chi{
    min-height:250px;
    /*background-color: springgreen;*/
    border-radius: 20px;

}

#chi-siamo .col-chi h2, .col-chi-text p:nth-of-type(1){
    font-size:2.5rem;
}

.col-chi-image span {
    font-size:1.5rem;
    color:#9593E6;
    position:absolute;
    top:0;
    left:100%;
}

.col-chi-image{
    width:50%;
    position:relative;
}

.col-chi-text p{
    font-weight:bold;
}

#chi-siamo .col-chi img{
    border-radius:50%;
}

#chi-siamo .col-chi a {
    background-color: #9593E6;
    color:white;
    padding:0.5rem 1rem;
}

/* fine sezione chi siamo*/

/* sezione landing */

#landing  {
    background-color: #9593E6;
}

.content{
    min-height:300px;
    /*background-color: cyan;*/
    text-align:center;
    padding:0 3.2rem 1.5rem;
}
.content h2{
    font-weight:100;
    text-transform: uppercase;
    font-size:1rem;
    color:#b8b6eb;
}
.content p:nth-of-type(1){
    font-size:2rem;
    font-weight: bold;
    color:white;
}
.content p:nth-of-type(2) {
    font-size:3.5rem;
    color:#fdc15f;
    font-weight: bolder;
}

.content p:nth-of-type(4){
    color:white;
    font-size:0.9rem;
    margin-top:1.5rem;
}

.content p:nth-of-type(4) a{
    text-decoration: underline;
}

.content .btn{
   background-color: white;
    color: #9593E6;

}

footer{
    background-color: #333 ;
}

footer .contenuto {
    text-align:center;
    color:white;
}
 
footer .contenuto p:nth-of-type(1){
    margin-bottom:3rem;
}
footer .contenuto p:nth-of-type(2){
    padding:0 1rem 0 2rem;
    color:white;
}
footer .contenuto a { 
    color: #9593E6;
    text-decoration: underline;
}






/* media queries */
@media screen and (min-width:768px){
    
    /* section about*/
    .wrapper{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }    

    .wrapper .col{
        width:calc(100% / 3 - 1.5rem);
    
    }
    .wrapper .col.mb {
        margin-bottom:2.25rem;
    }
    
    .wrapper .col:first-child{
        width:calc(100% / 3 * 2 - .75rem);
    }
    
    .wrapper .col:not(.first){
        padding:2rem 1.2rem;
    }
    
    .card-image{
        display:blocK;
        width:70%;
    }
    .card-image img {
        max-width:100%;
        display:block;
        width:100%;
    }

    
    
    
    /* section testiomonials */

    #testimonials .column{
        display:flex;
        justify-content: space-between;
    }
    #testimonials .column-image{
        width:30%;
        height:25vw;
    }
    #testimonials .column-text {
        text-align: initial;
        width:70%;
    }
    /* fine section testiomnials */
    /* inizio sezione quality */
    
    #quality .row{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #quality .card{
        width:calc(100% / 2 - .75rem);
    }
    /* fine sezione quality */

    /* inizio sezione chi-siamo */
    #chi-siamo .row{
        display:flex;
        justify-content: space-between;
    }
    #chi-siamo .col-chi.mb{
        width:55%;
    }
    #chi-siamo .col-chi:last-child{
        width:40%;
        /*background-color: orange;*/
        padding-top:2rem;
    }
    #chi-siamo .col-chi:last-child p{
        font-size:1.5rem;
    }

    .content{
        width:72%;
        margin:0 auto;
    }
    .contenuto{
        width:65%;
        margin:0 auto;
    }

}



@media screen and (min-width:992px){
    /* layout */
    .container{
        width:95%;
        max-width:1000px;
        margin:0 auto;
        /*border:1px solid black;*/
}
    /* header */
    .hb-menu{
        display:none;
    }
    .sidebar{
        display:block;
    }

    /* sezione about main */
    
    .wrapper .col:not(.first){
        padding:1rem 1rem;
    }
    
    .wrapper .col.first{
        padding:1rem 1rem 0 1rem;
    }
    
    
    .wrapper .first .card{
        display:flex;
        height:100%;    
    
    }
    
    
    
    .wrapper .card-text{
        width:60%;
    
    }
    .wrapper .card-image{
        width:40%;
        align-self: flex-end;
    }
/* fine sezione about main */

/* inizio sezione strategic */

#strategic .container{
    width:70%;
    margin:0 auto;
    
}

#strategic .row{
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
}
#strategic .col:first-child{
    width:55%;

}
#strategic .developer{
    width:40%;
}
.developer .image img{
    width:60%;
}
#strategic .developer .text p {
    font-size:1rem;
}

#testimonials .column-image{
    height:21vw;
    width:25%;
    margin-bottom:1rem;
}

/* fine sezione strategic developer */

/* sezione quality */

#quality .card{
    width:calc(100% / 3 - .75rem);
    padding:2.5rem 1rem;
}





}
